

<div class="container unbranded">
  <div class="row">
    <div class="threecol"></div>
    <div class="span12">
      <div class="login_platform" id="login_platform">

        <ul class="nav nav-tabs">
          <li class=""><a href="#login-tab" data-toggle="tab">Login</a></li>
          <li><a href="#password-tab" data-toggle="tab">Forgot Password</a></li>
        </ul>
 
        <div class="tab-content">
          <div class="tab-pane" id="login-tab">
            <mako:forms:buildform schema="${schemas['login']}" values="${values}" errors="${errors}">
              <mako:def name="header()">Login here</%def>
              <mako:def name="footer()">
                  <button type="submit" class="btn btn-primary">Login</button>
              </mako:def>
            </mako:forms:buildform>
          </div>
          <div class="tab-pane" id="password-tab">
            <mako:forms:buildform schema="${schemas['password']}" values="${values}" errors="${errors}">
              <mako:def name="header()">Request new password</%def>
              <mako:def name="footer()">
                  <button type="submit" class="btn btn-primary">Submit</button> 
              </mako:def>
            </mako:forms:buildform>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>








<mako:def name="scripts()">
  <script src="/static/scripts/libs/jquery.validate.min.js"></script>
  <script>
    $(function () {
      var root = $("#login_platform");
      root.find('.nav-tabs a[href='+window.location.hash+']').add('.nav-tabs a:first').tab('show').each(function(index, elem){
        var node_id = $(elem).attr("href");
        $(node_id).find("input:visible:first").focus(); 
      });
      root.find('a[data-toggle="tab"]').on('shown', function (e) {
        var node_id = $(e.target).attr("href");
        if(history.pushState) {
            history.pushState(null, null, node_id);
        } else {
            location.hash = node_id;
        }
        $(node_id).find("input:visible:first").focus();
      });

      ${forms.buildValidators("root")}
    });
</script>







</mako:def>
<mako:namespace name="forms" file="jsonmapper:templates/forms.html"/>
<mako:inherit file="layout.html"/>