

<div class="container unbranded">
  <div class="row">
    <div class="threecol"></div>
    <div class="span12">
      <div class="login_platform" id="login_platform">

        <mako:forms:buildform schema="${schemas['pwdreset']}" values="${values}" errors="${errors}">
          <mako:def name="header()">Reset password</%def>
          <mako:def name="footer()">
              <button type="submit" class="btn btn-primary">Submit</button>
          </mako:def>
        </mako:forms:buildform>

      </div>
    </div>
  </div>
</div>

<mako:def name="scripts()">
  <script src="/static/scripts/libs/jquery.validate.min.js"></script>
  <script>
    $(function () {
      var root = $("#login_platform");
      ${forms.buildValidators("root")}
    });
  </script>
</mako:def>
<mako:namespace name="forms" file="jsonmapper:templates/forms.html"/>
<mako:inherit file="layout.html"/>