

<div class="container unbranded">
  <div class="row">
    <div class="threecol"></div>
    <div class="span12">
      <div class="login_platform" id="login_platform">
        <h1>Support</h1>
        <p>
          We are committed to giving you the best possible support. If you need any help please send an email to <a href="mailto:support@giftcannon.zendesk.com">support@giftcannon.zendesk.com</a> and we will get back to very soon
        </p>
      </div>
    </div>
  </div>
</div>








<mako:def name="scripts()"></mako:def>
<mako:inherit file="layout.html"/>