<div class="page-header">
    <a href="logout" class="icon-signout link settings-link"> </a>
    <img class="splash-logo" src="/imgs/logo.png"/>
</div>

<div class="page-body">
    <div class="coupon-details">
        <div class="img"><img src="{{ gift.getProductPicture() }}"/></div>
        <div class="hint">Code Valid <br/> please issue<br/><span class="qty">1</span>x {{ gift.getProductName() }}</div>
    </div>
    <a href="/redemption" class="back btn">Validate another code</a>
</div>

