<div class="page-header">
    <img class="splash-logo" src="/imgs/logo.png"/>
</div>

<div class="page-body">
    <form class="form-validated">
        <legend>Login with username and password</legend>
        <fieldset class="padded">
            <div class="control-group">
                <label class="control-label">username</label>
                <div class="controls">
                    <input type="text" name="email" required/>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">password</label>
                <div class="controls">
                    <input type="password" name="pwd" required/>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn" data-loading=" Loading...">Log in</button>
        </div>
    </form>
</div>