<div class="page-header">
    <img class="splash-logo" src="/imgs/logo.png"/>
    <a href="/logout" class="icon-signout link settings-link"> </a>
</div>

<div class="page-body">
    <div class="valid-coupon-area"></div>
    <form class="form-validated">
        <legend>Enter 4-digit gift code and press validate</legend>
        <fieldset class="padded">
            <div class="control-group">
                <div class="controls">
                    <input type="text" name="Gift.code" required autocomplete="off" placeholder="Enter coupon code here"/>
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn" data-loading="Loading...">Validate Code</button>
        </div>
    </form>
    <!--
    <p class="spaced">Send Email Reports</p>
    <div class="btn-group">
        <button type="button" class="btn btn-small btn-report" data-time-frame="1">Last 24 Hours</button>
        <button type="button" class="btn btn-small btn-report" data-time-frame="7">Last 7 Days</button>
    </div>
    -->
    <div class="clear"></div>
</div>