<div class="page-header">
    <a class="btn btn-primary btn-back link" href="/gift/coupon/{{ token }}">Back</a>
    <h1 class="page-title">Venue Map</h1>
</div>
<div class="page-body">
    <div class="map-container">
        <div class="load-progress relative">
            <div id="block_1" class="barlittle"></div>
            <div id="block_2" class="barlittle"></div>
            <div id="block_3" class="barlittle"></div>
            <div id="block_4" class="barlittle"></div>
            <div id="block_5" class="barlittle"></div>
            <h3>Loading...</h3>
        </div>
    </div>
</div>
