<div class="page-header">
    <h1 class="page-title"><img src="/imgs/items/gift.png" class="gift" width="90px" height="50px"/> GiftCannon</h1>
    <a href="/help/coupon" class="btn btn-primary btn-help link">How It<br/>Works</span></a>
</div>
<div class="page-body narrow">
    <div class="load-progress relative">
        <div id="block_1" class="barlittle"></div>
        <div id="block_2" class="barlittle"></div>
        <div id="block_3" class="barlittle"></div>
        <div id="block_4" class="barlittle"></div>
        <div id="block_5" class="barlittle"></div>
        <h3>Loading...</h3>
    </div>
</div>
