<div class="page-header">
    <h1 class="page-title">GiftCannon</h1>
    <a href="/help/splash" class="btn btn-primary btn-help link">How It<br/>Works</span></a>
</div>
<div class="page-body">
    <h2 class="headline font">Real Gifts. Instantly.</h2>
    <div class="smaller">Redeemable at all of Oxford's favourite venues.</div>
    <a class="btn-image link" href="/product"><img class="splash" src="/imgs/splash.png" alt="Shoot a Gift to a Friend"/></a>
    <div class="narrow">
        <a href="/codepay" class="btn btn-primary link">Redeem Promo Code</a>
    </div>
    <div class="clear"></div>
</div>