<div class="page-header">
    <a class="btn btn-primary btn-back link" href="{{ backLink }}">Back</a>
    <h1 class="page-title">Pay</h1>
    <a href="{{ helpLink }}" class="btn btn-primary btn-help link">Learn<br/>More</span></a>
    <ul class="breadcrumbs">
        <li class="crumb">Pick Gift</li>
        <li class="arrow-after first active-left"></li>
        <li class="crumb active">Pay</li>
        <li class="arrow-after second active-right"></li>
        <li class="crumb">Send Gift</li>
        <li class="clear"></li>
    </ul>
</div>
<div class="page-body adorned">
    <div class="narrow"><div class="product-details"></div></div>
    <div class="payment-form"></div>
</div>