<div class="page-header">
    <h1 class="page-title">Send the gift</h1>
    <a href="/help/send" class="btn btn-primary btn-help link">Learn<br/>More</span></a>
    <ul class="breadcrumbs">
        <li class="crumb">Pick Gift</li>
        <li class="arrow-after first"></li>
        <li class="crumb">Pay</li>
        <li class="arrow-after second active-left"></li>
        <li class="crumb active">Send Gift</li>
        <li class="clear"></li>
    </ul>
</div>
<div class="page-body gift-coupon-body narrow">
    <div class="ornamented-gift">
        <img class="picture" src="{{ product.getPictureUrl() }}"/>
    </div>
    <h2 class="font">1x {{ product.get("name") }}</h2>
    <div class="smaller">
        Payment Successful!<br/>Your gift is ready to send.
    </div>
    <a class="meta url link stop" href="{{ couponURL }}" id="gift-url">
        {{ couponURL }}
    </a>
    <div class="smaller">
        Copy the gift URL and send to your friend via SMS, Facebook, Email, Whatsapp, etc...
    </div>
    <div class="btn-group halves">
        <a class="btn btn-info link stop url longtap-anchor"  href="{{ couponURL }}" tabindex="8">Copy URL</a>
        <a class="btn btn-primary btn-mailto" tabindex="7" href="mailto:?subject={{ mailtoSubject }}&body={{ mailtoBody }}">Send by Email</a>
    </div>
</div>
<div class="page-footer">
    <a class="btn btn-primary link bottom-aligned" href="/">Send another gift</a>
</div>