<div class="page-header">
    <a class="btn btn-primary btn-back link" href="/product">Back</a>
    <h1 class="page-title">Say Hi</h1>
    <ul class="breadcrumbs">
        <li class="crumb active">Pick Gift</li>
        <li class="arrow-after first active-right"></li>
        <li class="crumb">Pay</li>
        <li class="arrow-after second"></li>
        <li class="crumb">Send Gift</li>
        <li class="clear"></li>
    </ul>
</div>
<div class="page-body narrow">
    <div class="product-details"></div>
    <textarea class="smaller" name="message" id="gift-personal-message" placeholder="Add a message to the gift"></textarea>
    <a class="btn btn-primary btn-proceed link">Proceed to Payment</a>
    <div class="product-confirm-body"></div>
</div>