<div class="page-header">
    <a href="/venue/{{ venue.get('id') }}" class="btn btn-info link">Back</span></a>
    <h1 class="page-title">{{ venue.get("name") }} Assign Products</h1>
</div>
<div class="page-body">
    <form class="form-validated form-horizontal" action="post">
        <fieldset>

        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary" data-loading="Loading...">Save</button>
            <a href="/venues" class="btn btn-danger link" data-loading="Loading...">Cancel</a>
        </div>
    </form>

</div>