<div class="modal">
    <span class="close">×</span>
    <div class="header">Where can I find my CVC?</div>
    <div class="body">
        The security code (CVC/CVS) can usually be found on the signature strip on the back of your credit card.
        In most cases the security code is the last 3 digits printed on the signature strip.<br/>
        With American Express cards, the security code is the 4 digit code printed just above the card number on the front of the card.
    </div>
</div>